.majorContainer {
  width: 100%;
  /* height: 100%; */
  /* background: black; */
}
.subContainer {
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  /* height: 95%; */
  /* background-color: skyblue; */
}
.majorText {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: calc(60px + 2vmin);
  margin-bottom: calc(30px + 1vmin);
}
.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .techstackVisible {
  display: flex;
  align-items: center;
} */
.techstackLogoImage {
  min-width: 50px;
  min-height: 50px;
  width: 5vw;
  height: 5vw;
  max-width: 100px;
  max-height: 100px;
  object-fit: scale-down;
}
.techstackName {
  font-size: calc(0px + 4.5vmin);
  margin-left: calc(20px + 2vmin);
  margin-right: calc(20px + 2vmin);
  color: #ffffff;
}
.techstackExplanationUl {
  margin: 0;
  margin-top: calc(2vmin);
  margin-bottom: calc(3vmin);
}
.techstackExplanationList {
  color: #ffffff;
  font-size: calc(12px + 1vmin);
  padding-top: calc(1vmin);
  padding-bottom: calc(1vmin);

}
.scoreBox{
 display: flex;
 align-items: center;
}